.categories_contant_nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;

  .categories_contant_nav_list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .categories_contant_nav_title {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
      font-size: 36px;
      font-weight: 700;
      margin: 0;
    }

    button {
      background-color: #ffffff;
      color: rgb(128, 128, 128);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

      &:hover {
        background-color: rgb(97, 97, 209) !important;
      }
    }
  }
}