.courses_page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 30px;

    .courses_title {
        font-size: 32px;
        font-weight: bold;
        padding-left: 20px;
    }

    .courses_cols_names {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 0 20px;
    
        .courses_col_name {
            font-size: 12px;
        }
    }
    
    .courses_wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: rgb(231, 231, 231);
        border-top: 1px solid rgb(201, 201, 201);

        .course {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            background-color: white;
            border-bottom: 1px solid rgb(201, 201, 201);
            cursor: pointer;
        }

        .course:hover {
            background-color: rgb(247, 247, 247);
            transition: background-color .1s ease-in-out;
        }

        .course_level_title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .course_info_wrapper {
            display: flex;
            flex-direction: column;
            max-width: 30%;
            gap: 5px;            

            .course_description {
                font-size: 12px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%; /* Ограничиваем ширину */
                word-wrap: break-word;
                color: rgb(110, 110, 110);
            }

        }

        

    
    }
}

