

.courses_page {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .courses_title {
        font-size: 32px;
        font-weight: bold;
    }
}

.courses_cols_names {
    display: flex;
    width: 80%;
    justify-content: space-between;

    .courses_col_name {
        font-size: 12px;
    }
}

.courses_wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(231, 231, 231);
    left: 0;
}