.create_test_settings_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 30px 0 30px;

  .create_test_settings_description {
    outline: none;
    font-size: 28px;
    font-weight: 600;
    color: rgb(165, 163, 163);
    min-height: 80px; 
    height: 80px;
  }
}

.create_test_settings {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_switch {
    span {
      font-size: 14px;
      color: #666;
      transition: all 0.3s ease;
    }

    &.published {
      span {
        color: #1890ff;
      }
    }
  }

  .create_test_settings_title {
    outline: none;
    font-size: 28px;
    font-weight: 600;
    color: rgb(165, 163, 163);
  }

  .create_test_settings_switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
}