.create_test_settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0 30px;

  &_switch {
    span {
      font-size: 14px;
      color: #666;
      transition: all 0.3s ease;
    }

    &.published {
      span {
        color: rgb(97, 97, 209);
      }
    }
  }

  .create_test_settings_title {
    outline: none;
    font-size: 28px;
    font-weight: 600;
    color: rgb(165, 163, 163);
  }

  .create_test_settings_switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;

    &_switch {
      span {
        font-size: 14px;
        color: #666;
        transition: all 0.3s ease;
      }

      &.published {
        span {
          color: rgb(97, 97, 209);
        }
      }
    }
  }
}